.icon-ex {
	background: url(../img/icon-ex.svg) no-repeat 0 0;
	width: 32px;
	height: 32px;
}
.icon-ex-white {
	background: url(../img/icon-ex-white.svg) no-repeat 0 0;
	width: 32px;
	height: 32px;
}
.icon-quality {
	background: url(../img/quality.png) no-repeat 0 0;
	width: 26px;
	height: 30px;
}
.icon-time {
	background: url(../img/time.png) no-repeat 0 0;
	width: 13px;
	height: 13px;
}
.icon-phone {
	background: url(../img/phone.svg) no-repeat 0 0;
	width: 42px;
	height: 42px;
}
.icon-phone-black {
	background: url(../img/phone-black.svg) no-repeat 0 0;
	width: 42px;
	height: 42px;
}
.icon-stopwatch {
	background: url(../img/stopwatch.png) no-repeat 0 0;
	width: 72px;
	height: 72px;
}
.icon-question {
	background: url(../img/question.png) no-repeat 0 0;
	width: 58px;
	height: 58px;
}
.icon-smart {
	background: url(../img/smart.png) no-repeat 0 0;
	width: 46px;
	height: 77px;
}
.icon-contact-1 {
	background: url(../img/contact-1.png) no-repeat 0 0;
	width: 20px;
	height: 20px;
}
.icon-contact-2 {
	background: url(../img/contact-2.png) no-repeat 0 0;
	width: 18px;
	height: 18px;
}
.icon-contact-3 {
	background: url(../img/contact-3.png) no-repeat 0 0;
	width: 22px;
	height: 16px;
}
.icon {
	display: inline-block;
	vertical-align: middle;
	background-size: 100% auto;
}