* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none !important;
	-webkit-tap-highlight-color: rgba(
		255,
		255,
		255,
		0
	); // или rgba(0,0,0,0), помню, был глюк с цветом в каких-то версиях браузера
	-webkit-tap-highlight-color: transparent;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type="search"] {
	-webkit-appearance: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
}
ul {
	margin-top: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}
td {
	margin: 0px;
	padding: 0px;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
a:visited,
a {
	color: $link;
	text-decoration: underline;
	-webkit-appearance: none;
	outline: none !important;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	&:active,
	&:focus {
		outline: none;
	}
	&:focus {
		text-decoration: none;
	}
	&:hover {
		color: $link-hover;
	}
}
a:active {
	background-color: transparent;
}
textarea,
input[type="url"],
input[type="search"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="email"] {
	border: 1px solid $border;
	background-color: #fff;
	margin: 0;
	font: 14px/24px $font1;
	color: $text;
	padding: 10px 20px;
	vertical-align: middle;
	display: inline-block;
	outline: none !important;
	max-width: 100%;
	@include placeholder {
		opacity: 0.8;
	}
	@media only screen and (max-width : 767px) {
		font-size: 18px;
	}
}
textarea {
	overflow: auto;
	resize: none;
}
img {
	border-style: none;
	height: auto;
	max-width: 100%;
}
hr {
	background-color: $border;
	border: none;
	height: 1px;
}

// фон автозаполненных полей
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 0 white inset !important;
    box-shadow: 0 0 0 0 white inset !important;
}
// цвет автозаполнения
input:-webkit-autofill {
	-webkit-text-fill-color: #bdbdbd !important;
}
::-webkit-input-placeholder {
	opacity: 1;
}
:-ms-input-placeholder {
	opacity: 1;
}
::-moz-placeholder {
	opacity: 1;
}
:focus::-webkit-input-placeholder {
	color: transparent !important;
}
:focus:-ms-input-placeholder {
	color: transparent !important;
}
:focus::-moz-placeholder {
	color: transparent !important;
}
textarea:invalid,
input:invalid {
	box-shadow: none;
}
/* body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: red;
}
body input:required:valid,
body textarea:required:valid {
	color: green;
} */
.button,
a.button {
	-webkit-appearance: none;
	outline: none !important;
	border: 2px solid $orange;
	transition: 0.2s;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	background-color: $orange;
	color: #fff;
	margin: 0;
	padding: 10px 2vw;
	font: 14px/32px $font1;
	max-width: 100%;
	width: auto;
	height: auto;
	&:hover {
		background-color: $link-hover;
		color: #fff;
		text-decoration: none;
		border-color: $link-hover;
	}
	@media only screen and (max-width: 991px) {
		padding: 10px 40px;
		font: 14px/22px $font1;
	}
	&--shadow {
		box-shadow: 0 0 15px 0 $orange;
	}
	&--rounded {
		border-radius: 0;
		border-radius: 75px;
	}
	&--small_46 {
		padding: 10px 40px;
		font: 14px/22px $font1;
	}
	&--small_36 {
		padding: 5px 25px;
		font: 12px/22px $font1;
	}
	&--alter {
		background: none;
		color: $text;
		&:hover {
			background: none;
			color: $text;
			box-shadow: 0 0 15px 0 $orange;
		}
	}
}
.hidden {
	display: none;
}
.alignleft {
	float: left;
	margin: 0 11px 3px 0;
}
.alignright {
	float: right;
	margin: 0 0 3px 11px;
}
.aligncenter {
	display: block;
	margin: 0 auto;
}
.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}
.nowrap {
	white-space: nowrap !important;
}
